<template> 
<div>
  <b-jumbotron>
    <template v-slot:header>Questions</template>

    <template v-slot:lead>
     {{cQuestion.question}}
    </template>

    <hr class="my-4">

    <b-list-group 
    v-for="(answer,index) in answers" 
    :key="index"
    @click="changeindex(index)"
    >
          <b-list-group-item variant="primary">   {{answer}}</b-list-group-item>

    </b-list-group>

    <b-button variant="primary" href="#">submit</b-button>
    <b-button variant="success" @click="next" href="#">Next</b-button>
  </b-jumbotron>
</div>
</template>
<script>
export default {
    props:{
        cQuestion:Object,
        next:Function
    },
    data(){
        return{
           cindex:null
        }
    },
    methods:{
        changeindex(index){
            this.cindex=index;
            console.log(index);
        }
    },
    computed:{
        answers(){
            let answers=[...this.cQuestion.incorrect_answers];
            answers.push(this.cQuestion.correct_answer);
            return answers;
        }
    }
}
</script>
<style scoped>
    .list-group-item:hover{
        background-color: #eee;
        cursor:pointer;
    }
    .btn{
        margin: 10px 2px;
    }
</style>