<template>
  <div>
  <Header :index="this.index"/>
      <b-container class="bv-example-row">
  <b-row>
    <b-col sm="6" offset="3">
        <Content v-if="questionlest.length" :next="next" :cQuestion="questionlest[index]"/>
    </b-col>
 
  </b-row>
</b-container>
        
        
     

</div>
</template>

<script>
import Content from './components/content'
import Header from './components/Header'
export default {
  name: 'App',
  components: {
    Content,
    Header
  },
  data(){
    return{
      questionlest:[],
      index:0
    }
  },
  methods:{
    next(){
      if(this.index<10){
      this.index ++;

      }
    }
  },
  mounted:function(){
    fetch("https://opentdb.com/api.php?amount=10&category=28&type=multiple",{
      method:'get'

    }).then((response)=>{
      return response.json()
      // console.log(response.json())
    }).then((result)=>{
      this.questionlest=result.results;
    })
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
